@import 'grid';

.container {
    max-width: 940px;
    margin: 0 auto;

    @include pad() {
        max-width: 375px;
    }
}

// navbar start
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;

    @include pad() {
        justify-content: space-around;
        align-items: center;
    }

    .burger-icon {
        display: none;

        @include pad() {
            display: block;
            width: 24px;
            height: 24px;
        }
    }

    .logo-wrap {
        @include pad() {
            width: auto;
            height: auto;
        }

        .pc-logo,
        .phone-logo {
            display: block;
            background-size: 100% 100%;
            cursor: pointer;
            @include hide-text;
        }

        .pc-logo {
            width: 200px;
            height: 70px;
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");

            @include pad() {
                display: none;
            }
        }

        .phone-logo {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-lg-dark.svg");
            display: none;

            @include pad() {
                display: block;
            }
        }
    }

    .nav-list {
        display: flex;
        align-items: center;
        width: auto;

        .shopping-cart {
            margin-left: 80px;

            @include pad() {
                margin-left: 0;
            }
        }
    }

}



.menu {
    width: 100%;
    max-height: 0px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    color: $green;
    z-index: 20;
    align-items: center;

    @include pad() {
        position: absolute;
        left: 0;
        top: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        transition: all 0.8s;
    }

    a {
        display: block;
        font-size: $font-s;
        line-height: 24px;
        color: $green;
        padding: 10px;
        margin-left: 60px;
        @include pad(){
            margin-left: 0;
        }

        &:after {
            content: " ";
            display: block;
            width: 0%;
            height: 2px;
            margin: 2px 0px;
            background-color: $green;
            opacity: 0;
            transition: .2s .5s;
        }
    }

    .link {
        @include pad() {
            display: block;
            width: 100%;
        }

        &:hover a:after {
            opacity: 1;
            width: 100%;
        }
    }
}

.active {
    max-height: 150px;
}

//navbar end


//footer start
.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.mail-container {
    background-color: $green;
    padding: 38px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pad() {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-wrap {
        width: 300px;
        display: flex;
        align-items: center;

        .logo {
            margin-right: 20px;
            width: 40px;
            height: 40px;
        }

        .logo-color {
            fill: $white;
        }

        p {
            color: $white;
            font-size: $font-l;
            font-weight: lighter;
        }
    }

    .mail-wrap {
        width: 400px;
        height: 60px;
        display: flex;

        @include pad() {
            margin-top: 40px;
        }

        .mail-icon {
            background-color: $white;
            padding: 20px 24px;
        }

        input {
            width: 100%;
            height: auto;
            border: 1px solid transparent;
            background-color: $white;
        }

        button {
            border: 1px solid transparent;
            background-color: $yellow;
            padding: 20px 24px;
            cursor: pointer;

            img {
                transition: .3s;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

.footer {
    background-color: $white;
    padding: 38px 10%;
    display: flex;
    justify-content: space-between;
    color: $green;

    @include pad() {
        display: flex;
        flex-wrap: wrap;
        padding: 38px 30px;
    }

    .logo-wrap {
        width: 100%;
    }

    .left-wrap {
        @include pad() {
            width: 100%;
        }

        .logo {
            width: 200px;
            height: 30px;
        }

        .text {
            margin-top: 115px;
            font-size: $font-s;
            color: $green;

            @include pad() {
                margin: 40px 0;
            }
        }

        .media-box {
            display: flex;
            margin-top: 46px;

            .fb-icon,
            .a-icon {
                cursor: pointer;
                width: 32px;
                height: 32px;
                transition: .5s;

                &:hover {
                    transform: translateY(-10%);
                }
            }
            .fb-icon{
                margin-left: 8px;
            }
        }
    }

    .right-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include pad() {
            flex-direction: column;
        }

        .decorate-text {
            font-size: 20px;
            line-height: 40px;
            text-indent: 10px;
            writing-mode: vertical-lr;
            letter-spacing: 6px;
            font-weight: 200;

            @include pad() {
                display: none;
            }
        }

        .copy-right {
            margin-top: 46px;

            @include pad() {
                width: 100%;
                margin-top: 23px;
            }
        }
    }
}


//footer end