/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

.navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}

@media (max-width: 767px) {
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .navbar .burger-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .navbar .logo-wrap {
    width: auto;
    height: auto;
  }
}

.navbar .logo-wrap .pc-logo,
.navbar .logo-wrap .phone-logo {
  display: block;
  background-size: 100% 100%;
  cursor: pointer;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.navbar .logo-wrap .pc-logo {
  width: 200px;
  height: 70px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
}

@media (max-width: 767px) {
  .navbar .logo-wrap .pc-logo {
    display: none;
  }
}

.navbar .logo-wrap .phone-logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-lg-dark.svg");
  display: none;
}

@media (max-width: 767px) {
  .navbar .logo-wrap .phone-logo {
    display: block;
  }
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.navbar .nav-list .shopping-cart {
  margin-left: 80px;
}

@media (max-width: 767px) {
  .navbar .nav-list .shopping-cart {
    margin-left: 0;
  }
}

.menu {
  width: 100%;
  max-height: 0px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
  z-index: 20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .menu {
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
}

.menu a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #3F5D45;
  padding: 10px;
  margin-left: 60px;
}

@media (max-width: 767px) {
  .menu a {
    margin-left: 0;
  }
}

.menu a:after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  margin: 2px 0px;
  background-color: #3F5D45;
  opacity: 0;
  -webkit-transition: .2s .5s;
  transition: .2s .5s;
}

@media (max-width: 767px) {
  .menu .link {
    display: block;
    width: 100%;
  }
}

.menu .link:hover a:after {
  opacity: 1;
  width: 100%;
}

.active {
  max-height: 150px;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

.mail-container {
  background-color: #3F5D45;
  padding: 38px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .mail-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mail-container .logo-wrap {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-container .logo-wrap .logo {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.mail-container .logo-wrap .logo-color {
  fill: #eaf0ed;
}

.mail-container .logo-wrap p {
  color: #eaf0ed;
  font-size: 24px;
  font-weight: lighter;
}

.mail-container .mail-wrap {
  width: 400px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .mail-container .mail-wrap {
    margin-top: 40px;
  }
}

.mail-container .mail-wrap .mail-icon {
  background-color: #eaf0ed;
  padding: 20px 24px;
}

.mail-container .mail-wrap input {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  background-color: #eaf0ed;
}

.mail-container .mail-wrap button {
  border: 1px solid transparent;
  background-color: #FFE180;
  padding: 20px 24px;
  cursor: pointer;
}

.mail-container .mail-wrap button img {
  -webkit-transition: .3s;
  transition: .3s;
}

.mail-container .mail-wrap button img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer {
  background-color: #eaf0ed;
  padding: 38px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 38px 30px;
  }
}

.footer .logo-wrap {
  width: 100%;
}

@media (max-width: 767px) {
  .footer .left-wrap {
    width: 100%;
  }
}

.footer .left-wrap .logo {
  width: 200px;
  height: 30px;
}

.footer .left-wrap .text {
  margin-top: 115px;
  font-size: 16px;
  color: #3F5D45;
}

@media (max-width: 767px) {
  .footer .left-wrap .text {
    margin: 40px 0;
  }
}

.footer .left-wrap .media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
}

.footer .left-wrap .media-box .fb-icon,
.footer .left-wrap .media-box .a-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .left-wrap .media-box .fb-icon:hover,
.footer .left-wrap .media-box .a-icon:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.footer .left-wrap .media-box .fb-icon {
  margin-left: 8px;
}

.footer .right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  .footer .right-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .right-wrap .decorate-text {
  font-size: 20px;
  line-height: 40px;
  text-indent: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 6px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .footer .right-wrap .decorate-text {
    display: none;
  }
}

.footer .right-wrap .copy-right {
  margin-top: 46px;
}

@media (max-width: 767px) {
  .footer .right-wrap .copy-right {
    width: 100%;
    margin-top: 23px;
  }
}

.banner-wrap {
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.banner-wrap .banner {
  margin-top: 38px;
  -webkit-transition: .7s;
  transition: .7s;
}

.banner-wrap .banner:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner-wrap .banner:hover + .text-box {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.banner-wrap .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #3F5D45;
  padding: 20px;
  opacity: .8;
  width: 100%;
  height: 150px;
  letter-spacing: 5px;
  background-color: #eaf0ed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .6s;
  transition: .6s;
}

.banner-wrap .text-box p {
  margin-top: 20px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 76px;
}

@media (max-width: 767px) {
  .product-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
}

.slide-bar {
  width: 30%;
}

@media (max-width: 767px) {
  .slide-bar {
    width: 100%;
  }
}

.slide-bar h2 {
  color: #eaf0ed;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  padding: 16px 0 16px 0;
}

.slide-bar li {
  border: 1px solid #eaf0ed;
  text-align: center;
}

.slide-bar li:nth-child(1) {
  background-color: #3F5D45;
}

.slide-bar li + .slide-bar li:hover {
  background-color: #eaf0ed;
}

.slide-bar li:nth-child(1) > a {
  color: #eaf0ed;
}

.slide-bar a {
  display: block;
  font-size: 24px;
  color: #3F5D45;
  padding: 16px 0 16px 0;
}

.product-wrap {
  width: 70%;
}

@media (max-width: 767px) {
  .product-wrap {
    width: 100%;
  }
}

.product-wrap .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-wrap .product-box li {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .product-wrap .product-box li {
    margin: 30px auto 0 auto;
  }
}

.product-img {
  position: relative;
  overflow: hidden;
}

.product-img img {
  -webkit-transition: 1s;
  transition: 1s;
}

.product-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-img .today-select {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #eaf0ed;
  background-color: #3F5D45;
  width: auto;
  height: auto;
  z-index: 20;
  letter-spacing: 2px;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 20px;
}

.product-img .today-select p {
  font-size: 16px;
}

.product-img .like {
  position: absolute;
  top: 19px;
  right: 22px;
  cursor: pointer;
}

.product-info {
  border: 0.5px solid #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-info .text {
  font-size: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info .text .product-name {
  width: 60%;
  color: #3F5D45;
  font-weight: lighter;
  text-align: center;
  padding: 14px 33px;
  border-right: 1px solid #eaf0ed;
}

.product-info .text .price {
  width: 40%;
  color: #3F5D45;
  text-align: center;
}

.product-info .btn {
  width: 100%;
  font-size: 24px;
  color: #3F5D45;
  background-color: #eaf0ed;
  border: 0.5px solid #eaf0ed;
  padding: 16px 85px;
  cursor: pointer;
}

.page-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .page-box {
    margin: 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-box ul {
  border: 1px solid #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-box li {
  font-size: 20px;
  width: 60px;
  border-right: 1px solid #eaf0ed;
  color: #3F5D45;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.page-box .page:hover {
  background-color: #3F5D45;
  color: #eaf0ed;
}

.page-box .page a {
  display: block;
  padding: 20px 0;
  color: #3F5D45;
}

.page-box .arrow-left img,
.page-box .arrow-right img {
  padding: 18px 0;
}

.pay-success-banner-wrap {
  background-color: yellow;
  max-width: 100%;
  height: 100%;
  position: relative;
  background: url("https://bit.ly/2P7GhNd") no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .pay-success-banner-wrap {
    background-position: center center;
    margin-bottom: 0;
  }
}

.pay-success-banner-wrap .pay-success-banner {
  width: 100%;
  height: 78vh;
}

.pay-success-banner-wrap .pay-success {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pay-success-banner-wrap .pay-success .icon-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  color: #3F5D45;
  position: relative;
}

.pay-success-banner-wrap .pay-success .icon-box i {
  font-size: 20px;
  z-index: 1;
}

.pay-success-banner-wrap .pay-success .icon-box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 180px;
  height: 1px;
  background-color: #3F5D45;
  z-index: -1;
}

.pay-success-banner-wrap .pay-success img {
  display: block;
}

.continue-shopping {
  width: 100%;
  height: 65px;
  background-color: #FFE180;
  font-size: 24px;
  font-weight: bold;
  color: #3F5D45;
  padding: 20px 13px;
  border: 1px solid #FFE180;
  cursor: pointer;
}

@media (min-width: 768px) {
  .continue-shopping {
    width: 30%;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}
/*# sourceMappingURL=all.css.map */