/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

@media (max-width: 767px) {
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 568px) {
  .navbar {
    padding-bottom: 0.5em;
  }
}

.navbar__burgerIcon {
  display: none;
}

@media (max-width: 767px) {
  .navbar__burgerIcon {
    display: block;
    width: 1.5em;
    height: 1.5em;
  }
}

.navbar__logoBox .pc-logo,
.navbar__logoBox .phone-logo {
  background-size: 100% 100%;
  cursor: pointer;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.navbar__logoBox .pc-logo {
  width: 13em;
  height: 5em;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
}

@media (max-width: 767px) {
  .navbar__logoBox .pc-logo {
    display: none;
  }
}

.navbar__logoBox .phone-logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-lg-dark.svg");
  display: none;
}

@media (max-width: 767px) {
  .navbar__logoBox .phone-logo {
    display: block;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list .shoppingCartIcon {
  margin-left: 5em;
}

@media (max-width: 767px) {
  .navbar__list .shoppingCartIcon {
    margin-left: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
  z-index: 20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.menu a {
  display: block;
  font-size: 16px;
  line-height: 1.5em;
  color: #3F5D45;
  padding: 0.5em;
  margin-left: 5em;
}

@media (max-width: 767px) {
  .menu a {
    margin-left: 0;
  }
}

.menu a:after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  margin: 5px 0px;
  background-color: #3F5D45;
  opacity: 0;
  -webkit-transition: 0.2s 0.5s;
  transition: 0.2s 0.5s;
}

.menu .link:hover a:after {
  opacity: 1;
  width: 100%;
}

.active {
  display: block;
}

.mail-container {
  background-color: #3F5D45;
  padding: 2.5em 7.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .mail-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    padding-bottom: 2.5em;
  }
}

.mail-container .logo-wrap {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .mail-container .logo-wrap {
    padding: 2em 0;
  }
}

.mail-container .logo-wrap .logo {
  margin-right: 1em;
  width: 40px;
  height: 40px;
}

.mail-container .logo-wrap .logo-color {
  fill: #eaf0ed;
}

.mail-container .logo-wrap p {
  color: #eaf0ed;
  font-size: 24px;
  font-weight: lighter;
}

.mail-container .mail-wrap {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-container .mail-wrap .mail-icon {
  background-color: #eaf0ed;
  padding: 1em 1.5em;
}

.mail-container .mail-wrap input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid transparent;
  background-color: #eaf0ed;
}

.mail-container .mail-wrap .sendMailButton {
  border: none;
  background-color: #FFE180;
  padding: 1em 1.5em;
  cursor: pointer;
}

.mail-container .mail-wrap .sendMailIcon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mail-container .mail-wrap .sendMailIcon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer {
  background-color: #eaf0ed;
  padding: 2.5em 7.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F5D45;
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1em 1.5em;
  }
}

.footer .left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .left-wrap .logo {
  width: 200px;
  height: 30px;
}

.footer .left-wrap .text {
  font-size: 16px;
  color: #3F5D45;
}

@media (max-width: 767px) {
  .footer .left-wrap .text {
    margin: 3em 0;
  }
}

.footer .left-wrap .media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .left-wrap .media-box .fb-icon,
.footer .left-wrap .media-box .a-icon {
  display: block;
  cursor: pointer;
  width: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .left-wrap .media-box .fb-icon:hover,
.footer .left-wrap .media-box .a-icon:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.footer .left-wrap .media-box .fb-icon {
  margin-left: 0.5em;
}

.footer .right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .right-wrap .decorate-text {
  font-size: 20px;
  line-height: 40px;
  text-indent: 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 6px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .footer .right-wrap .decorate-text {
    display: none;
  }
}

.footer .right-wrap .copy-right {
  margin-top: 3em;
}

@media (max-width: 767px) {
  .footer .right-wrap .copy-right {
    margin-top: 1.5em;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

.banner {
  overflow: hidden;
  cursor: pointer;
}

.banner__image {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.banner__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5em;
}

@media (max-width: 767px) {
  .main__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
}

.sidebar {
  width: 30%;
  text-align: center;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar__title {
  background-color: #3F5D45;
  color: #eaf0ed;
  font: normal normal 600 24px/40px PingFang TC;
  padding: 0.8em 0;
}

.sidebar .sidebar__listItem {
  display: block;
  border: 1px solid #eaf0ed;
  padding: 0.8em 0;
  color: #3F5D45;
  font: normal normal 600 24px/40px PingFang TC;
}

.sidebar .sidebar__listItem:hover {
  background-color: #eaf0ed;
}

.sidebar .active {
  background-color: #eaf0ed;
}

.products {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .products {
    width: 100%;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .products__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__list li {
  width: 300px;
  margin: 0 0 1.2em 1.2em;
}

@media (max-width: 767px) {
  .products__list li {
    margin: 2em 0 auto;
  }
}

.productItem__imageBox {
  position: relative;
  overflow: hidden;
}

.productItem__imageBox .productItem__image {
  -webkit-transition: 1s;
  transition: 1s;
}

.productItem__imageBox .productItem__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.productItem__imageBox .todaySelect {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #eaf0ed;
  background-color: #3F5D45;
  z-index: 2;
  letter-spacing: 2px;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 20px;
}

.productItem__imageBox .todaySelect p {
  font-size: 16px;
}

.productItem__imageBox .likeIcon {
  position: absolute;
  top: 19px;
  right: 22px;
  cursor: pointer;
}

.productItem__infoBox {
  border: 0.5px solid #eaf0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productItem__infoBox .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: normal normal 300 20px/20px PingFang TC;
  color: #3F5D45;
  text-align: center;
}

.productItem__infoBox .textBox .title {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  padding: 1em 2em;
  border-right: 1px solid #eaf0ed;
}

.productItem__infoBox .textBox .price {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.productItem__infoBox .btn {
  color: #3F5D45;
  width: 100%;
  font: normal normal 600 24px/20px PingFang TC;
  border: 0.5px solid #eaf0ed;
  padding: 1em 3em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productItem__infoBox .btn:hover {
  background-color: #3F5D45;
  color: #eaf0ed;
}

.pageList {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em 0 5em auto;
  border: 1px solid #eaf0ed;
  font: normal normal 300 20px/20px PingFang TC;
}

@media (max-width: 767px) {
  .pageList {
    margin: 2em 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pageList .pageItem {
  font-size: 20px;
  padding: 1em;
  border-right: 1px solid #eaf0ed;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageList .pageItem > a {
  color: #3F5D45;
}

.pageList .pageItem:hover {
  background-color: #3F5D45;
  color: #eaf0ed;
}

.pay-success-banner-wrap {
  background-color: yellow;
  max-width: 100%;
  height: 100%;
  position: relative;
  background: url("https://bit.ly/2P7GhNd") no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .pay-success-banner-wrap {
    background-position: center center;
    margin-bottom: 0;
  }
}

.pay-success-banner-wrap .pay-success-banner {
  width: 100%;
  height: 78vh;
}

.pay-success-banner-wrap .pay-success {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pay-success-banner-wrap .pay-success .icon-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  color: #3F5D45;
  position: relative;
}

.pay-success-banner-wrap .pay-success .icon-box i {
  font-size: 20px;
  z-index: 1;
}

.pay-success-banner-wrap .pay-success .icon-box:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 180px;
  height: 1px;
  background-color: #3F5D45;
  z-index: -1;
}

.pay-success-banner-wrap .pay-success img {
  display: block;
}

.continue-shopping {
  width: 100%;
  height: 65px;
  background-color: #FFE180;
  font-size: 24px;
  font-weight: bold;
  color: #3F5D45;
  padding: 20px 13px;
  border: 1px solid #FFE180;
  cursor: pointer;
}

@media (min-width: 768px) {
  .continue-shopping {
    width: 30%;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}
/*# sourceMappingURL=all.css.map */