.container {
  max-width: 940px;
  margin: 0 auto;

  @include pad() {
    max-width: 375px;
  }
}

.banner {
  overflow: hidden;
  cursor: pointer;
  &__image {
    transition: 0.7s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.main__container {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;

  @include pad() {
    flex-wrap: wrap;
    margin-top: 0;
  }
}

.sidebar {
  width: 30%;

  text-align: center;
  @include pad() {
    width: 100%;
  }

  &__title {
    background-color: $green;
    color: $white;
    font: normal normal 600 24px/40px PingFang TC;
    padding: 0.8em 0;
  }

  .sidebar__listItem {
    display: block;
    border: 1px solid $white;
    padding: 0.8em 0;
    color: $green;
    font: normal normal 600 24px/40px PingFang TC;
    &:hover {
      background-color: $white;
    }
  }

  .active {
    background-color: $white;
  }
}

.products {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include pad() {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include pad() {
      justify-content: center;
    }
    li {
      width: 300px;
      margin: 0 0 1.2em 1.2em;

      @include pad() {
        margin: 2em 0 auto;
      }
    }
  }
}

.productItem__imageBox {
  position: relative;
  overflow: hidden;

  .productItem__image {
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .todaySelect {
    writing-mode: vertical-lr;
    color: $white;
    background-color: $green;
    z-index: 2;
    letter-spacing: 2px;
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 20px;

    p {
      font-size: $font-s;
    }
  }

  .likeIcon {
    position: absolute;
    top: 19px;
    right: 22px;
    cursor: pointer;
  }
}

.productItem__infoBox {
  border: 0.5px solid $white;
  display: flex;
  flex-wrap: wrap;

  .textBox {
    display: flex;
    align-items: center;
    font: normal normal 300 20px/20px PingFang TC;
    color: $green;
    text-align: center;
    .title {
      flex: 0.6;
      padding: 1em 2em;
      border-right: 1px solid $white;
    }

    .price {
      flex: 0.4;
    }
  }

  .btn {
    color: $green;
    width: 100%;
    font: normal normal 600 24px/20px PingFang TC;
    border: 0.5px solid $white;
    padding: 1em 3em;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}

.pageList {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0 5em auto;
  border: 1px solid $white;
  font: normal normal 300 20px/20px PingFang TC;

  @include pad() {
    margin: 2em 0;
    justify-content: center;
  }

  .pageItem {
    font-size: 20px;
    padding: 1em;
    border-right: 1px solid $white;

    text-align: center;
    transition: 0.5s;
    & > a {
      color: $green;
    }
  }

  .pageItem {
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}
